/* --------------- global values -------------- */
:root{ /*using variables makes it easier to make quick adjustments*/
    --text-h1: 3em;
    --text-h2: 2.5em;
    --text-title: 3.6em;
    --text-flair: 0.95em;
    --text-body: 1.25em;
    --text-body2: 1.15em;
    --colour-splash: rgb(162, 9, 9);
    --colour-splash2: rgb(121, 75, 37);
    --colour-basic: rgb(255, 231, 200);
    --colour-basic2: rgb(255, 254, 247);
    --colour-citations: rgb(66, 66, 66);
    --colour-name: rgb(115, 211, 121);
    --colour-background: black;
    --num-PBM: 7; /*number of builds in the PBM section*/
    --num-DRM: 12; /*number of builds in the DRM section*/

    --variable-num-bonus-images: ; /*Updates based on which specific page is open*/

    background-color: var(--colour-background);
    color: var(--colour-basic); /*setting the default text colour to a light colour since default background colour is black.*/
}

/* ------------------------- main page ------------------------ */
.main-head{ /*main header*/
    display:grid;
    grid-template-rows: 75px 35px 40px;
    background-color: var(--colour-splash); 
}
.main-head h1{
    text-align: center;
    font-size: var(--text-title);
    font-style: italic;
    color: var(--colour-basic2); 
}
.main-head p{
    text-align: center;
    color: var(--colour-background);
    font-size: var(--text-flair);
    font-weight: bold;
}

.front-page{/*main body*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 55px 320px 55px 320px 15px;
    grid-column-gap: 20px;
}
h2{
    grid-column: 1/-1;
    text-align: center;
}
h3{
    grid-column: 1/-1;
    text-align: center;
    padding-left: 270px;
}
.image-array-DRM, .image-array-PBM {
    grid-column: 2/-2;

    display: grid;
    grid-column-gap: 20px;
    padding-top: 10px;
    overflow-x: auto;
    scrollbar-width: none; /*not entirely sure if this works on all browsers...*/
}
.image-array-PBM{grid-template-columns: repeat(var(--num-PBM), 1fr);}
.image-array-DRM{grid-template-columns: repeat(var(--num-DRM), 1fr);}
.thumbnail{width:400px; height:300px;} /*must constrain size for .SVGs*/
button{
    background-color: var(--colour-basic2);
    font-size: 2em;
    font-weight: 700;
}
.front-page cite{
    grid-column: 1/-1;
    grid-row: -1;
    font-size: var(--text-flair);
    font-style: italic;
    color: var(--colour-citations); 
}

@media(max-width: 32em){ /*make the title smaller for small screens so it doesn't overflow*/
    .main-head h1{font-size: var(--text-h2);}
    .main-head{grid-template-rows: 105px 55px;}
}

/* ------------------------- info pages ------------------------ */
.info-page{
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: 10px;
    min-height: 0;
}
/*----extra info on the builds----*/
.details{
    grid-column: 1;

    display: grid;
    background-color: var(--colour-splash2);
    grid-template-rows: 80px 100px 1fr 60px;
    padding: 10px;
    max-width: 400px;
    min-height: 91vh; /*maintain's info section's height if low text amount in description*/
    max-height: calc(100vh - 40px); /*prevents info section from overflowing so that the return button is off-screen (with full height pages)*/
    
}

.dimensions{
    color: var(--colour-basic); 
    font-size: var(--text-body2);
}
.desc{font-size: var(--text-body);}
.colour-split{color: var(--colour-basic2);}

.details h1{color: var(--colour-basic2);}
.details h1::before{ /*overline details to h1*/
    content:"";
    display:block;
    width:auto;
    height:5px;
    background-color: var(--colour-basic);
}
.details h1::after{ /*underline details to h1*/
    content:"";
    display:block;
    width:auto;
    height:5px;
    background-color: var(--colour-basic);  
}

a:link, a:visited{color:var(--colour-basic);}
a:hover{color: var(--colour-basic2)}
.return-link{ /*return button specific stuff*/
    text-decoration: none;
    font-size: 4em;
}

/*----extra images for the builds----*/
.bonus-images{
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: calc(100vh - 20px); /*images take up full height of viewport excluding the padding of the parent grid*/
    overflow-y: auto; /*when too many images exist, scroll vertically for more*/
    padding-right: 10px; /*right padding added here to put space left of scroll bar*/
    column-gap: 10px; row-gap: 10px;
}
.small-image{
    max-width: 100vw; /*setting a max lets the image scale more naturally*/
    min-width: 100px; 
    height: auto;
}

@media(max-width: 76em){ /*maintain image sizes by lowering column count*/
    .bonus-images{grid-template-columns: 1fr 1fr;}
}
@media(max-width: 54em){ /*maintain image sizes by lowering column count*/
    .bonus-images{grid-template-columns: 1fr;}
}

/*temporary fix until mobile layout finished:*/
@media(max-width: 36em){ /*swap from vertical overflow to horizontal due to small space*/
    .bonus-images{ 
        /*swap grid template direction*/
        grid-template-columns: 250px 250px 250px 250px 250px 250px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-flow: column;
        /*swap overflow direction*/
        overflow-y: hidden;
        overflow-x: auto;
    }
    .small-image{height: 100%;}
}


